*,
*::before,
*::after {
  box-sizing: border-box;
}


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  min-height: 100vh;
  background-color: #0b0b10;
  overflow-x: hidden;
}

@font-face {
    font-family:'Titles' ;
    src: url('../fonts/PPEditorialNew-Regular.otf');
}

@font-face {
    font-family: 'SubTitles' ;
    src: url('../fonts/PPLettraMono-Medium.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.intro-title, h1, h2, a{
    font-family: 'Titles', Arial, sans-serif ;
    letter-spacing: 0.1em;
}



p, button, label, input, .auth-subgenres{
    font-family: 'Montserrat',  Arial, sans-serif;
    letter-spacing: 0.1em;
    
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background:
    radial-gradient(
      70vmax 50vmax at 50% 0%,
      rgba(167,139,250,0.25),
      transparent 60%
    ),
    radial-gradient(
      60vmax 45vmax at 20% 80%,
      rgba(125,211,252,0.18),
      transparent 55%
    );
}