*,
*::before,
*::after {
  box-sizing: border-box;
}


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

body {
  overflow-x: hidden;
}

@font-face {
    font-family:'Titles' ;
    src: url('../fonts/PPEditorialNew-Regular.otf');
}

@font-face {
    font-family: 'SubTitles' ;
    src: url('../fonts/PPLettraMono-Medium.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.intro-overlay{
    font-family: 'Titles', Arial, sans-serif ;
}

h2{
    font-family: 'Titles', Arial, sans-serif;
}

p, button{
    font-family: 'Montserrat';
}